@import "tailwindcss";
@plugin "daisyui";



/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* Adjust width */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1a1a1a;
    /* Dark background */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563;
    /* Gray thumb */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
    /* Lighter gray on hover */
}